body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 80px; /* Adjust the value based on your footer height */
}

header {
  background-color: #111;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.game-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  background-color: #222;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
}

.card-title span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.card-title:hover span {
  font-size: 24px;
}

.card:hover img {
  transform: scale(1.1);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.4);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #007bff;
}

.info-button,
.store-button,
.code-button {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-links a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #1178f7;
  text-decoration: none;
}

.social-links a:not(:last-child) {
  margin-right: 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-left: 5px;
}

.game-image{
  max-width: 100%;
  max-height: auto;
}

.game-image img {
  max-width: 100%;
  max-height: auto;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero {
  text-align: center;
  padding: 100px 0;
  transition: font-size 0.3s ease;
}

.hero:hover .hero-text {
  font-size: 120%;
}

.company-name {
  font-size: 72px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.slogan {
  font-size: 48px;
  margin-bottom: 20px;
}

.company-info {
  font-size: 24px;
  margin-bottom: 40px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 768px) {
  .company-name {
    font-size: 300px;
  }

  .slogan {
    font-size: 250px;
  }

  .company-info {
    font-size: 100px;
  }

  .cta-button {
    font-size: 100px;
  }
}

.donate-page {
  text-align: center;
  padding: 50px;
}

.header {
  margin-bottom: 40px;
}

.title {
  font-size: 100px;
}

.subtitle {
  font-size: 32px;
  color: #888;
}

.content {
  margin-bottom: 60px;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.perks-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.perks-list {
  list-style-type: disc;
  margin-left: 40px;
  font-size: 20px;
  margin-bottom: 30px;
}

.donation-buttons {
  display: flex;
  justify-content: center;
}

.donation-button {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* About Us Section */
.about-us {
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.social-button {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.social-button:hover {
  background-color: #555;
}


.poke-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-title {
  font-size: 6vw;
  margin-bottom: 1vw;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.label {
  margin-right: 1vw;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.pokemon-icon {
  width: 8vw;
  height: 8vw;
  margin-bottom: 1vw;
}

.probability {
  font-size: 4vw;
}

.encounter-rate {
  font-size: 10vw;
  margin-bottom: 1vw;
}

#encounterRate,
#probability,
#EncounterCount {
  font-size: 30px;
}

button:hover {
  background-color: #45a049;
}

poke-button {
  font-size: 30px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#count {
  font-size: 50px;
}

#pokemonImage {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

.pokemon-container {
  margin-top: 20px;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

button {
  font-size: 20px;
  padding: 5px 10px; /* Increase the padding values to make the buttons larger */
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  margin-right: 10px;
}

#pokemonImage {
  width: 1000px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}

#customCount {
  width: 200px; /* Adjust the desired width */
  height: 30px; /* Adjust the desired height */
  border-radius: 10px; /* Adjust the desired border radius */
  margin-bottom: 10px;
  font-size: 20px;
}

.pokecalc-title{
  font-size: 61px;
}

.warframe-section {
  margin-bottom: 20px;
}

.warframe {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.warframe img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.warframe .name {
  font-weight: bold;
}
